:root {
    --text-variable: violet;
}

h1 {
    color: var(--text-variable);
    font-size: 50px;
    margin-top: 200px;
}

.box {
    width: 100px;
    height: 2100px;
    background-color: violet;
    padding: 10px;
    border: solid red;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    padding: 20px;
    border: 10px dashed grey;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.068), rgba(255, 0, 0, 0.082)), url('https://media.istockphoto.com/vectors/seamless-repeat-chic-hipster-trendy-retro-modern-background-pattern-vector-id623448496');
    background-size: 200px;
    background-clip: border-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 50px;
    position: fixed;
    top: 0;
}