* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* common */

.mt-8 {
    margin-top: 8px;
}

.white-text {
    color: white !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-second {
    width: calc(100%/2);
}

.col-one {
    width: 100%;
}

.btn {
    padding: 8px 16px;
    color: white;
    background-color: black;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: center;
}

.btn:hover {
    color: black;
    background-color: #ccc;
    transition: all 0.2s ease-in-out;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
}

#nav>li:hover>a,
.subnav li:hover a {
    color: #000;
    background-color: #ccc;
    transition: all 0.2s ease-in-out;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}

.subnav li {
    width: 100%;
}

#nav .subnav li a {
    color: black;
    display: block;
    padding: 8px 16px;
    line-height: 22.5px;
}

#nav .header-icon {
    font-size: 10px;
}

#header #menu-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header #menu-button,
#header #search-button {
    float: right;
    padding: 0px 16px;
}

#header #menu-button:hover {
    background-color: #ccc;
}

#header #menu-button:hover .ti-menu {
    color: #000;
}

#header #search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .header-menu,
#header .header-search {
    color: white;
    font-size: 20px;
    line-height: 46px;
}


/* #search-button {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
} */

#slider {
    position: relative;
    color: white;
    margin-top: 46px;
    padding-top: 62.5%;
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)), url('../img/slider/slider1.png') top center / cover no-repeat;
}

#slider .slider-content {
    position: absolute;
    bottom: 46px;
    width: 100%;
    text-align: center;
}

#slider .slider-header {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
}

#slider .slider-description {
    font-size: 15px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px 112px;
}

.content-section .section-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
}

.content-section .section-sub-heading {
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

.content-section .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

.content-section .member-list {
    padding-top: 47px;
}

.content-section .member-item {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

.content-section .member-name {
    font-size: 15px;
    margin: 15px;
}

.content-section .member-img {
    width: 160px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    background-color: white;
    margin: 40px 0px;
    font-size: 16px;
    list-style: none;
}

.tickets-list li {
    color: #757575;
    padding: 11px 16px;
    line-height: 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    margin-left: 16px;
    background-color: #F44336;
    padding: 3px 2px;
}

.tickets-list .rest {
    text-align: center;
    float: right;
    margin-right: 20px;
    line-height: 16px;
    font-size: 14px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
}

.tour-section .place-list {
    margin-top: -8px;
}

.tour-section .place-item {
    float: left;
    width: calc(100%/3);
    padding: 0px 8px;
}

.tour-section .place-img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.tour-section .place-img:hover {
    opacity: 0.5;
}

.tour-section .place-content {
    background-color: white;
    font-size: 15px;
    padding: 16px;
    border-radius: 0px 0px 20px 20px;
}

.tour-section .place-heading {
    font-weight: 600;
    padding-top: 16px;
}

.tour-section .place-time {
    padding-top: 16px;
    color: #757575;
}

.tour-section .place-desc {
    padding: 16px 0px;
    line-height: 1.4;
}


/* Contact */

.contact-content {
    margin-top: 32px;
}

.contact-content .contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
}

.contact-content .contact-form {
    font-size: 15px;
}

.contact-content a {
    opacity: 0.8;
}

.contact-content a:hover {
    opacity: 1;
}

.contact-form .form-control {
    padding: 9px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-btn {
    margin-top: 16px;
    float: right;
    font-size: 15px;
}

.map-img {
    width: 100%;
    display: block;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.copyright {
    margin-top: 15px;
    color: #757575;
    font-size: 15px;
}

#footer a {
    text-decoration: none;
    color: #757575;
}

#footer a:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

#footer i[class*="ti-"] {
    font-size: 24px;
    color: #757575;
    display: inline-block;
    width: 32px;
}